In [1]:
import requests
import pandas as pd
import xml.etree.ElementTree as ET

decoding_key = 'tFlRbdLrGdbT07si0ZGVgNB2t7e1lRlQPzeq5uCeXyfkCZJ+8+CRvlRy1JLFEZXUdVqNxgmO1OaOcSDStjOhKQ=='
encoding_key = 'tFlRbdLrGdbT07si0ZGVgNB2t7e1lRlQPzeq5uCeXyfkCZJ%2B8%2BCRvlRy1JLFEZXUdVqNxgmO1OaOcSDStjOhKQ%3D%3D'

# XML 데이터 파싱
def xmltodf(xml_data):
    root = ET.fromstring(xml_data)
    items = root.findall(".//item")
    
    data = []
    for item in items:
        item_data = {}
        for child in item:
            item_data[child.tag] = child.text
        data.append(item_data)
        
    df = pd.DataFrame(data)
    
    return df

In [13]:
def brand_costs(encoding_key, pageNo, numRow, year):
    url = 'https://apis.data.go.kr/1130000/FftcBrandFntnStatsService/getBrandFntnStats?'
    serviceKey = 'serviceKey=' + encoding_key
    page = '&pageNo=' + str(pageNo)
    numOfRows = '&numOfRows=' + str(numRow)
    result_type = '&resultType=xml'
    yr = '&yr=' + str(year)

    total_url = url + serviceKey + page + numOfRows + result_type + yr

    response = requests.get(total_url)
    contents = response.text

    dataframe = xmltodf(contents)
    return dataframe

data = brand_costs(encoding_key, 1, 1000, 2017)
data = data.rename(columns = {'yr' : '기준년도', 'indutyLclasNm' : '업종대분류명', 'indutyMlsfcNm' : '업종준분류명'})
data = data.rename(columns = {'brandNm' : '브랜드명', 'corpNm' : '법인명'})
data = data.rename(columns = {'jngBzmnJngAmt' : '가맹사업자가맹금액', 'jngBzmnEduAmt' : '사업자교육금액'})
data = data.rename(columns = {'jngBzmnAssrncAmt' : '가맹사업자보증금액', 'jngBzmnEtcAmt' : '가맹사업자기타금액', 'smtnAmt' : '합계금액'})
data

,기준년도,업종대분류명,업종준분류명,브랜드명,법인명,가맹사업자가맹금액,사업자교육금액,가맹사업자보증금액,가맹사업자기타금액,합계금액
0,2017,도소매,(건강)식품,다마바,(주) 에스에스알,4400,1100,3000,29700,38200
1,2017,도소매,(건강)식품,더온리자연드림(the only 자연드림),(주)농업법인쿱스토어,7700,0,0,287802,295502
2,2017,도소매,(건강)식품,오레시피,(주)도들샘,5500,3300,2000,41800,52600
3,2017,도소매,(건강)식품,에버앤에버,(주)에버앤에버,5500,0,5000,37950,48450
4,2017,도소매,(건강)식품,뉴트리코어,(주)에스엘바이오텍,22000,2200,5000,107300,136500
...,...,...,...,...,...,...,...,...,...,...
995,2017,서비스,자동차 관련,오토큐(AUTO Q),기아자동차(주),0,0,0,233973,233973
996,2017,서비스,자동차 관련,내차를부탁해,내차를부탁해,11000,8800,2000,45100,66900
997,2017,서비스,자동차 관련,도도세차,도도세차장,5500,16500,0,55000,77000
998,2017,서비스,자동차 관련,크린매직,라미씨엔피 주식회사,27500,3300,30000,53900,114700
999,2017,서비스,자동차 관련,레디카,마스타자동차관리(주),1353,0,0,0,1353