In [136]:
import pandas as pd
import requests

# API 키와 기본 URL 설정
api_key = '/SP+KE9l4FB+wWeiL0Xg7Awr43/tw6K4EM62dzSju74IU3fnqry+ajNhq7aIEaoFKmHs35SYMtQ2lzOyl3VudA=='
base_url = 'https://apis.data.go.kr/1130000/FftcJnghdqrtrsGrStatsService/getJnghdqrtrsGrStats'

# 파라미터 설정
params = {
    'serviceKey': api_key,
    'pageNo': 1,
    'numOfRows': 10,
    'resultType': 'json',
    'yr': 2022,
    
}

# API 요청
response = requests.get(base_url, params=params)
data = response.json()
data

df = pd.DataFrame(data['items'])
df

,yr,indutyLclasNm,assetsAmt,slsAmt,bsnProfitAmt,assetsIncRt,slsIncRt,bsnProfitIncRt
0,2022,도소매,80406888513,69279676914,2958574576,9.56,5.73,15.27
1,2022,서비스,102378829497,75154002022,1039117076,3.30,9.02,6.36
2,2022,외식,18719189238,25327047835,943095684,8.85,12.08,57.50

In [1]:
import pandas as pd
import requests
api_key = '/SP+KE9l4FB+wWeiL0Xg7Awr43/tw6K4EM62dzSju74IU3fnqry+ajNhq7aIEaoFKmHs35SYMtQ2lzOyl3VudA=='
base_url = 'https://apis.data.go.kr/1130000/FftcJnghdqrtrsGrStatsService/getJnghdqrtrsGrStats'

params = {
    'serviceKey': api_key,
    'pageNo': 1,
    'numOfRows': 10,
    'resultType': 'json',
    'yr': 2022,
}

response = requests.get(base_url, params=params)
data = response.json()

df = pd.DataFrame(data['items'])

# 필요한 컬럼만 선택하여 새로운 DataFrame 생성
selected_columns = ['yr', 'indutyLclasNm', 'assetsAmt', 'assetsIncRt']
df = df[selected_columns]
df = df.rename(columns={
    'yr': '연도',
    'indutyLclasNm': '산업 대분류 이름',
    'assetsAmt': '자산 총액',
    'assetsIncRt': '자산 증가율'
})

df

     연도 산업 대분류 이름         자산 총액  자산 증가율
0  2022       도소매   80406888513    9.56
1  2022       서비스  102378829497    3.30
2  2022        외식   18719189238    8.85