In [4]:
import requests
import pandas as pd
import xml.etree.ElementTree as ET
decoding_key = '0Ku%2BSYra1zJE1LDYrKMTRznOpQ%2Fd9or%2BeSvBDplEr0fDyANWRrvOQjMIbwt90ftvyy9D1Xrt6xVOlhUPZfjp6A%3D%3D'

def xmltodf(contents):
    root = ET.fromstring(contents)
    items = root.findall(".//item")
    
    data = []
    for item in items:
        item_data = {}
        for child in item:
            item_data[child.tag] = child.text
        data.append(item_data)
        
    df = pd.DataFrame(data)
    return df

In [14]:
#함수정의
def area_cost(decoding_key, pageNo, numRows, year):
    url = 'https://apis.data.go.kr/1130000/FftcAreaIndutyAvrStatsService/getAreaIndutyAvrWhrtStats?'
    service_key = 'serviceKey=' + decoding_key
    page = '&pageNo=' + str(pageNo)
    numofRows = '&numOfRows=' + str(numRows)
    yr = '&resultType=XML&yr=' + str(year)
    
    total_url = url + service_key + page + numofRows + yr
    
    response = requests.get(total_url)
    contents = response.text
    df = xmltodf(contents)
    df = df.rename(columns = {'frcsCnt' : '평균매출금액', 'bizYrCrtraMm' : '사업년도기준월','arUnitAvrgSlsAmt':'면적단위평균매출금액','indutyMlsfcNm':'업종중분류명','areaNm':'지역명','crrncyUnitCdNm':'화폐단위코드명','yr':'기준년도'})
    return df

In [15]:
df = area_cost(decoding_key, 1, 1000, 2019)
df

     기준년도  업종중분류명 지역명  평균매출금액 면적단위평균매출금액   화폐단위코드명
0    2019  (건강)식품  강원  200174      15957  (단위 :천원)
1    2019  (건강)식품  경기  290655      24206  (단위 :천원)
2    2019  (건강)식품  경남  227122      16488  (단위 :천원)
3    2019  (건강)식품  경북  216829      15304  (단위 :천원)
4    2019  (건강)식품  광주  254336      19109  (단위 :천원)
..    ...     ...  ..     ...        ...       ...
114  2019     화장품  전남  235591      16432  (단위 :천원)
115  2019     화장품  전북  260292      18572  (단위 :천원)
116  2019     화장품  제주  353278      22524  (단위 :천원)
117  2019     화장품  충남  272408      18695  (단위 :천원)
118  2019     화장품  충북  272914      21479  (단위 :천원)

[119 rows x 6 columns]