In [33]:
import pandas as pd
import requests
import xml.etree.ElementTree as ET
# API 키와 기본 URL 설정
encoding_key = 'gGCyhfuZVKqEAWVzLm75zqsKR1Y0jHmSoKyQdi2XPC1m5vhI3rclP8NTkhMLFs9xYrkDtNBbMocSDG%2BdRdHxhA%3D%3D'
url = 'https://apis.data.go.kr/1130000/FftcBrandFrcsUnitAvrSalInfoService/getBrandFrcsUnitAvrSalInfo?serviceKey=gGCyhfuZVKqEAWVzLm75zqsKR1Y0jHmSoKyQdi2XPC1m5vhI3rclP8NTkhMLFs9xYrkDtNBbMocSDG%2BdRdHxhA%3D%3D&pageNo=1&numOfRows=100&resultType=xml&yr=2021'
def area_cost_api(encoding_key, pagenum, numRow, yr):
    base_url = 'https://apis.data.go.kr/1130000/FftcBrandFrcsUnitAvrSalInfoService/getBrandFrcsUnitAvrSalInfo?'
    service_Key = 'serviceKey=' + encoding_key
    pageNo = '&pageNo=' + str(pagenum)
    numOfRows = '&numOfRows=' + str(numRow)
    resulttype = '&resultType=xml'
    year = '&yr=' + str(yr)
    totalurl = base_url + service_Key + pageNo + numOfRows + resulttype + year
    
    response = requests.get(totalurl)
    data = response.text
    return xmltodf(data)
    
def xmltodf(xml_data):
    root = ET.fromstring(xml_data)
    items = root.findall(".//item")
    
    data = []
    for item in items:
        item_data = {}
        for child in item:
            item_data[child.tag] = child.text
        data.append(item_data)
        
    df = pd.DataFrame(data)
    df = df.rename(columns={
    'yr': '기준년도',
    'areaNm': '지역명',
    'jngIfrmpRgsno' : '기업 등록 번호',
    'indutyLclasNm': '업종대분류명',
    'brandNm' : '브랜드명',
    'frcsCnt': '가맹점수',
    'indutyMlsfcNm' : '업종중분류명',
    'avrgSlsAmt': '평균매출금액',
    'arUnitAvrgSlsAmt': '면적단위평균매출금액',
    'crrncyUnitCdNm':'화폐단위코드명',
    'rlvtYn':'해당여부'
    })
    return df

In [38]:
# API 요청
area_cost_api(encoding_key, 1, 100, 2017)

,기업 등록 번호,브랜드명,업종대분류명,업종중분류명,기준년도,지역명,가맹점수,평균매출금액,면적단위평균매출금액,화폐단위코드명,해당여부
0,20080100006,잉글리쉬무무,서비스,교육 (외국어),2017,강원,7,56294,None,(단위 :천원),N
1,20080100006,잉글리쉬무무,서비스,교육 (외국어),2017,경기,86,43422,None,(단위 :천원),N
2,20080100006,잉글리쉬무무,서비스,교육 (외국어),2017,경남,45,46783,None,(단위 :천원),N
3,20080100006,잉글리쉬무무,서비스,교육 (외국어),2017,경북,6,47486,None,(단위 :천원),N
4,20080100006,잉글리쉬무무,서비스,교육 (외국어),2017,광주,37,49194,None,(단위 :천원),N
...,...,...,...,...,...,...,...,...,...,...,...
95,20080100024,아이잼,서비스,기타 교육,2017,대구,0,None,None,(단위 :천원),N
96,20080100024,아이잼,서비스,기타 교육,2017,대전,0,None,None,(단위 :천원),N
97,20080100024,아이잼,서비스,기타 교육,2017,부산,1,None,None,(단위 :천원),N
98,20080100024,아이잼,서비스,기타 교육,2017,서울,1,None,None,(단위 :천원),N
99,20080100024,아이잼,서비스,기타 교육,2017,세종,0,None,None,(단위 :천원),N