In [1]:
import pandas as pd
import requests

# API 키와 기본 URL 설정
api_key = 'gGCyhfuZVKqEAWVzLm75zqsKR1Y0jHmSoKyQdi2XPC1m5vhI3rclP8NTkhMLFs9xYrkDtNBbMocSDG+dRdHxhA=='
base_url = 'https://apis.data.go.kr/1130000/FftcBrandFrcsUnitAvrSalInfoService/getBrandFrcsUnitAvrSalInfo?serviceKey=gGCyhfuZVKqEAWVzLm75zqsKR1Y0jHmSoKyQdi2XPC1m5vhI3rclP8NTkhMLFs9xYrkDtNBbMocSDG%2BdRdHxhA%3D%3D&pageNo=1&numOfRows=100&resultType=json&yr=2021'

# 파라미터 설정
params = {
    'serviceKey': api_key,
    'pageNo': 1,
    'numOfRows': 100,
    'resultType': 'json',
    'yr': 2021
}

# API 요청
response = requests.get(base_url, params=params)
data = response.json()
data

df = pd.DataFrame(data['items'])
df

# 필요한 컬럼만 선택하여 새로운 DataFrame 생성
selected_columns = ['jngIfrmpRgsno','brandNm','yr', 'indutyMlsfcNm', 'areaNm','frcsCnt', 'avrgSlsAmt','arUnitAvrgSlsAmt','crrncyUnitCdNm','rlvtYn']
df = df[selected_columns]
df = df.rename(columns={
    'jngIfrmpRgsno' : '기업 등록 번호',
    'brandNm' : '브랜드 이름',
    'yr': '연도',
    'indutyLclasNm': '산업 대분류 이름',
    'areaNm': '지역 이름',
    'frcsCnt': '직원 수',
    'indutyMlsfcNm' : '업정 분류명',
    'avrgSlsAmt': '평균 매출액',
    'arUnitAvrgSlsAmt': '면적 당 평균 매출액',
    'crrncyUnitCdNm':'통화 단위 코드명',
    'rlvtYn':'관련 여부'
    
})
df.to_csv('data.csv', index=False)
df

,jngIfrmpRgsno,brandNm,indutyLclasNm,indutyMlsfcNm,yr,areaNm,frcsCnt,avrgSlsAmt,arUnitAvrgSlsAmt,crrncyUnitCdNm,rlvtYn
0,20080100006,잉글리쉬무무,서비스,교육 (외국어),2021,강원,4,0,0,(단위 :천원),None
1,20080100006,잉글리쉬무무,서비스,교육 (외국어),2021,경기,46,33860,894,(단위 :천원),None
2,20080100006,잉글리쉬무무,서비스,교육 (외국어),2021,경남,27,36635,967,(단위 :천원),None
3,20080100006,잉글리쉬무무,서비스,교육 (외국어),2021,경북,4,0,0,(단위 :천원),None
4,20080100006,잉글리쉬무무,서비스,교육 (외국어),2021,광주,27,37982,1003,(단위 :천원),None
...,...,...,...,...,...,...,...,...,...,...,...
95,20080100024,아이잼,서비스,기타 교육,2021,대구,0,0,0,(단위 :천원),None
96,20080100024,아이잼,서비스,기타 교육,2021,대전,0,0,0,(단위 :천원),None
97,20080100024,아이잼,서비스,기타 교육,2021,부산,0,0,0,(단위 :천원),None
98,20080100024,아이잼,서비스,기타 교육,2021,서울,1,0,0,(단위 :천원),None
99,20080100024,아이잼,서비스,기타 교육,2021,세종,0,0,0,(단위 :천원),None