In [2]:
import requests
import pandas as pd
import xml.etree.ElementTree as ET

decoding_key = 'tFlRbdLrGdbT07si0ZGVgNB2t7e1lRlQPzeq5uCeXyfkCZJ+8+CRvlRy1JLFEZXUdVqNxgmO1OaOcSDStjOhKQ=='
encoding_key = 'tFlRbdLrGdbT07si0ZGVgNB2t7e1lRlQPzeq5uCeXyfkCZJ%2B8%2BCRvlRy1JLFEZXUdVqNxgmO1OaOcSDStjOhKQ%3D%3D'

# XML 데이터 파싱
def xmltodf(xml_data):
    root = ET.fromstring(xml_data)
    items = root.findall(".//item")
    
    data = []
    for item in items:
        item_data = {}
        for child in item:
            item_data[child.tag] = child.text
        data.append(item_data)
        
    df = pd.DataFrame(data)
    
    return df

# 외식별 창업 비용 현황

In [3]:
def api_Outcosts(encoding_key, pageNo, numRow, year):
    url = 'https://apis.data.go.kr/1130000/FftcSclasIndutyFntnStatsService/getSclaIndutyFntnOutStats?'
    serviceKey = 'serviceKey=' + encoding_key
    page = '&pageNo=' + str(pageNo)
    numofRows = '&numOfRows=' + str(numRow)
    result_type = '&resultType=xml'
    yr = '&yr=' + str(year)

    total_url = url + serviceKey + page + numofRows + result_type + yr

    response = requests.get(total_url)
    contents = response.text

    dataframe = xmltodf(contents)
    return dataframe

# for i in range(2019, 2023):
data = api_Outcosts(encoding_key, 1, 1000, 2022)
data = data.rename(columns = {'yr' : '기준년도', 'indutyMlsfcNm' : '업종중분류'})
data = data.rename(columns = {'jnghdqrtrsCnt' : '가맹본부수', 'frcsCnt' : '가맹점수'})
data = data.rename(columns = {'avrgFrcsAmt' : '평균가맹교육금액', 'avrgFntnAmt' : '평균가맹보증금액', 'avrgJngEtcAmt' : '평균가맹기타금액', 'smtnAmt' : '합계금액'})
data = data.rename(columns = {'crrncyUnitCdNm' : '화폐단위코드명'})
data

data

    기준년도      업종중분류 가맹본부수  가맹점수 평균가맹교육금액 평균가맹보증금액 평균가맹기타금액   합계금액   화폐단위코드명
0   2022     기타 외국식     8  1043      448      323     8994  10808  (단위 :천원)
1   2022      기타 외식    14   513      247      194     4938   5892  (단위 :천원)
2   2022         분식    19   309      153      113     2579   3154  (단위 :천원)
3   2022        서양식     8  1219      485      364    11943  14012  (단위 :천원)
4   2022  아이스크림/빙수     42   191       84       89    17942  18306  (단위 :천원)
5   2022  음료 (커피 외)    21   337      167      181     3568   4254  (단위 :천원)
6   2022         일식     8  1132      530      396    10213  12271  (단위 :천원)
7   2022       제과제빵    32   300      169      141     3477   4088  (단위 :천원)
8   2022         주점    20   381      195      118     4238   4933  (단위 :천원)
9   2022         중식     9   882      440      319     8994  10636  (단위 :천원)
10  2022         치킨    42   125       61       49     1158   1392  (단위 :천원)
11  2022         커피    29   244      129      117     2813   3303  (단위 :천원)
12  2022      패스트푸드    19   434      182      231     4034   4881  (단위 :천원)
13  2022         피자    34   189       98       76     1699   2062  (단위 :천원)
14  2022         한식    11   804      431      338     6439   8012  (단위 :천원)

# 도소매별 창업비용 현황 조회

In [5]:
def api_Whrtcosts(encoding_key, pageNo, numRow, year):
    url = 'https://apis.data.go.kr/1130000/FftcSclasIndutyFntnStatsService/getSclaIndutyFntnWhrtStats?'
    serviceKey = 'serviceKey=' + encoding_key
    page = '&pageNo=' + str(pageNo)
    numofRows = '&numOfRows=' + str(numRow)
    result_type = '&resultType=xml'
    yr = '&yr=' + str(year)

    total_url = url + serviceKey + page + numofRows + result_type + yr

    response = requests.get(total_url)
    contents = response.text

    dataframe = xmltodf(contents)
    return dataframe

# for i in range(2019, 2023):
data = api_Whrtcosts(encoding_key, 1, 1000, 2022)
data = data.rename(columns = {'yr' : '기준년도', 'indutyMlsfcNm' : '업종중분류'})
data = data.rename(columns = {'jnghdqrtrsCnt' : '가맹본부수', 'frcsCnt' : '가맹점수'})
data = data.rename(columns = {'avrgFrcsAmt' : '평균가맹교육금액', 'avrgFntnAmt' : '평균가맹보증금액', 'avrgJngEtcAmt' : '평균가맹기타금액', 'smtnAmt' : '합계금액'})
data = data.rename(columns = {'crrncyUnitCdNm' : '화폐단위코드명'})
data

data

   기준년도    업종중분류 가맹본부수  가맹점수 평균가맹교육금액 평균가맹보증금액 평균가맹기타금액   합계금액   화폐단위코드명
0  2022   (건강)식품    32   207       95      132     1973   2408  (단위 :천원)
1  2022    기타도소매    25   341      110      574     3419   4444  (단위 :천원)
2  2022     농수산물    27   164       84       91     2241   2580  (단위 :천원)
3  2022  의류 / 패션     5  2336      972     1576    13760  18644  (단위 :천원)
4  2022    종합소매점    42   173       59      538     2913   3682  (단위 :천원)
5  2022      편의점  1240     5        1        9       45     60  (단위 :천원)
6  2022      화장품    88   110       35       88     1088   1321  (단위 :천원)

# 서비스별 창업비용현황 조회

In [6]:
def api_Srvccosts(encoding_key, pageNo, numRow, year):
    url = 'https://apis.data.go.kr/1130000/FftcSclasIndutyFntnStatsService/getSclaIndutyFntnSrvcStats?'
    serviceKey = 'serviceKey=' + encoding_key
    page = '&pageNo=' + str(pageNo)
    numofRows = '&numOfRows=' + str(numRow)
    result_type = '&resultType=xml'
    yr = '&yr=' + str(year)

    total_url = url + serviceKey + page + numofRows + result_type + yr

    response = requests.get(total_url)
    contents = response.text

    dataframe = xmltodf(contents)
    return dataframe

# for i in range(2019, 2023):
data = api_Srvccosts(encoding_key, 1, 1000, 2022)
data = data.rename(columns = {'yr' : '기준년도', 'indutyMlsfcNm' : '업종중분류'})
data = data.rename(columns = {'jnghdqrtrsCnt' : '가맹본부수', 'frcsCnt' : '가맹점수'})
data = data.rename(columns = {'avrgFrcsAmt' : '평균가맹교육금액', 'avrgFntnAmt' : '평균가맹보증금액', 'avrgJngEtcAmt' : '평균가맹기타금액', 'smtnAmt' : '합계금액'})
data = data.rename(columns = {'crrncyUnitCdNm' : '화폐단위코드명'})
data

data

,기준년도,업종중분류,가맹본부수,가맹점수,평균가맹교육금액,평균가맹보증금액,평균가맹기타금액,합계금액,화폐단위코드명
0,2022,PC방,35,224,67,28,5317,5636,(단위 :천원)
1,2022,교육 (교과),120,159,17,45,556,776,(단위 :천원)
2,2022,교육 (외국어),129,395,33,42,838,1308,(단위 :천원)
3,2022,기타 교육,29,761,168,155,3243,4327,(단위 :천원)
4,2022,기타 서비스,52,471,170,78,1968,2687,(단위 :천원)
5,2022,반려동물 관련,7,1455,709,708,10386,13258,(단위 :천원)
6,2022,배달,47,94,35,32,839,1001,(단위 :천원)
7,2022,부동산 중개,7,1286,559,644,3534,6023,(단위 :천원)
8,2022,세탁,171,19,10,16,322,367,(단위 :천원)
9,2022,숙박,8,5304,539,1250,239097,246190,(단위 :천원)
10,2022,스포츠 관련,27,503,178,225,6948,7854,(단위 :천원)
11,2022,안경,42,222,39,96,3542,3899,(단위 :천원)
12,2022,약국,933,14,16,2,71,103,(단위 :천원)
13,2022,오락,21,602,243,219,11858,12923,(단위 :천원)
14,2022,운송,595,2,2,0,45,48,(단위 :천원)
15,2022,유아 관련 (교육 외),14,1587,420,428,19950,22384,(단위 :천원)
16,2022,유아관련,33,332,132,65,4054,4582,(단위 :천원)
17,2022,이미용,19,620,221,270,4975,6087,(단위 :천원)
18,2022,이사,79,104,18,30,45,197,(단위 :천원)
19,2022,인력 파견,11,1997,318,169,229,2712,(단위 :천원)
20,2022,임대,10,785,229,279,12836,14129,(단위 :천원)
21,2022,자동차 관련,95,65,47,41,814,967,(단위 :천원)